<div class="weather-item">
    <div class="uk-grid uk-grid-small" uk-grid>
        <div class="uk-width-2-5">
            <h4 class="now uk-margin-remove">{{now}}</h4>
            <div class="wilaya">{{wilaya}}</div>
            <div class="tmp">{{tmp}}&deg;</div>
        </div>
        <div class=" uk-position-relative uk-width-expand">
            <div class="weather-img uk-overlay uk-position-center">
                <img src="{{img}}" alt="{{now}}" />
            </div>
        </div>
    </div>
</div>