<div
    class="uk-card uk-light article-card article-card-read-more uk-box-shadow-small uk-box-shadow-hover-medium  uk-border-rounded rv-hover-effect-3d">
    <div class="uk-card-media uk-position-relative">
        <div class="uk-inline uk-display-block">
            <a href="{{href}}" class="uk-display-block ">
                <img data-src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{title}}"
                    class="uk-width-expand uk-border-rounded" uk-img>
            </a>
            <div class="uk-overlay uk-light uk-position-top-right uk-padding-small">{{createdAgo}}</div>
            <a href="{{href}}" class="uk-overlay uk-light uk-position-bottom uk-padding-small content-bg-bottom">
                <h3 class="title uk-margin-xsmall">{{{title}}}</h3>
                <p class="description uk-margin-remove">{{{description}}}</p>
            </a>
        </div>
    </div><!-- relative -->
</div>