<div class="article-card article-card-category-main-item uk-padding-xxsmall">
    <div class="uk-box-shadow-hover-small uk-padding-xsmall rv-hover-effect-3d-small rv-hover-effect-wrapper">
        <div class="uk-card uk-grid uk-grid-small" uk-grid>
            <div class="uk-width-1-3@s">
                <div class="uk-card-media-right uk-cover-container uk-position-relative">
                    <a href="{{href}}" class="uk-display-block ">
                        <img data-src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{title}}"
                            class="uk-width-expand" uk-img>
                    </a>
                </div><!-- relative -->
            </div>
            <div class="uk-width-expand  uk-position-relative">
                <div class="uk-card-body uk-padding-xsmall uk-padding-remove-top">
                    <h3 class="title uk-margin-small"><a href="{{href}}" class="uk-display-block uk-link-text">{{{title}}}</a></h3>
                    <div class="description uk-text-small uk-text-muted uk-margin-medium-bottom">{{{description}}}</div>
                    <div class="uk-text-left uk-text-body uk-text-small uk-position-bottom-left">{{createdAgo}}</div>
                </div>
            </div>
        </div>
    </div>
</div>