<div class="uk-card uk-card-default article-card article-card-default">
    <div class="uk-card-media uk-position-relative">
        <div class="uk-inline uk-display-block">
            <a href="{{href}}" class="uk-display-block">
                <img data-src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{title}}"
                    class="uk-border-rounded uk-width-expand" uk-img> </a>
            <div class="uk-overlay uk-light uk-position-bottom uk-padding-small">
                <h3 class="title"><a href="{{href}}" class="uk-display-block">{{title}}</a></h3>
            </div>
        </div>
        <div class="uk-position-top-left uk-padding-small">
            <a href="#" class="uk-icon-link" uk-icon="social"></a>
            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 500; mode: click; pos: bottom-left;" class="uk-padding-small uk-text-center">
                <a href="" class="uk-icon-button uk-margin-small-left" uk-icon="twitter"></a>
                <a href="" class="uk-icon-button  uk-margin-small-left" uk-icon="facebook"></a>
                <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
            </div>
        </div>
    </div><!-- relative -->
</div>