<div class="uk-card article-card article-card-playlist ">
    <div class="uk-card-media-top">
        <div class="uk-inline uk-display-block">
            <a href="{{href}}" class="uk-display-block">
                <img data-src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{title}}"
                    class="uk-width-expand" uk-img>
            </a>
            <a href="{{href}}" class="uk-position-center">
                <span uk-icon="icon: start-button; ratio:3.5;"></span>
            </a>
        </div>
    </div>
    <div class="uk-card-body uk-padding-remove uk-margin-small">
        <h3 class="title uk-margin-small"><a href="{{href}}" class="uk-display-block">{{{title}}}</a></h3>
        <p class="description uk-margin-remove">{{{description}}}</p>
    </div>
</div>