<div class="uk-card article-card article-card-serie-other-program rv-hover-effect-wrapper uk-padding-xsmall ">
    <div class="uk-card-media-top">
        <div class="uk-inline uk-light uk-display-block">
            <a href="{{href}}" class="uk-display-block rv-hover-effect-3d">
                <img data-src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{title}}"
                    class="uk-width-expand" uk-img>
            </a>
            <a href="{{href}}" class="uk-position-center">
                <span uk-icon="icon: start-button; ratio:2;"></span>
            </a>
        </div>
    </div>
    <div class="uk-card-body uk-padding-remove uk-margin-small-top">
        <h3 class="title uk-margin-remove"><a href="{{href}}" class="uk-display-block uk-text-body">{{{title}}}</a></h3>
    </div>
</div>