<div class="article-card article-card-timeline-mobile uk-light rv-hover-effect-wrapper">
    <div class="uk-card uk-light uk-padding-small">
        <div class="uk-card-media-top">
            <a href="{{href}}" class="uk-display-block rv-hover-effect-3d">
                <img data-src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{title}}"
                    class="uk-width-expand" uk-img>
            </a>
        </div>
        <div class="uk-card-body uk-padding-remove uk-margin-small uk-margin-remove-bottom">
            <h3 class="title uk-margin-remove"><a href="{{href}}" class="uk-display-block">{{title}}</a></h3>
            <div class="times">
                <span class="uk-inline">{{timeStart}}</span> - <span class=" uk-inline">{{timeEnd}}</span>
            </div>
        </div>
    </div>
</div>