<div class="uk-card uk-light article-card article-card-mobile-video-other rv-hover-effect-wrapper">
    <div class="uk-grid-small" uk-grid>
        <div class=" uk-width-1-2">
            <a href="{{href}}" class="uk-inline uk-display-block uk-width-1-1 rv-hover-effect-3d">
                <img data-src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{title}}"
                    class="uk-width-expand" uk-img>
                <span href="{{href}}" class="uk-position-center">
                    <span uk-icon="icon: play; ratio:1;"></span>
                </span>
            </a>
        </div>
        <div class="uk-margin-remove uk-flex-middle uk-width-1-2">
            <h3 class="title uk-margin-xsmall"><a href="{{href}}" class="uk-display-block">{{title}}</a></h3>
            <div class="description uk-margin-remove uk-text-small">{{description}}</div>
        </div>
        
    </div>
    
</div>