<div class="uk-card uk-light article-card article-card-mobile-video-featured rv-hover-effect-wrapper">
    <div class="uk-card-media-top rv-hover-effect-3d">
        <a href="{{href}}" class="uk-inline uk-display-block">
            <img data-src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{title}}"
                class="uk-width-expand" uk-img>
            <span href="{{href}}" class="uk-position-center">
                <span uk-icon="icon: start-button; ratio:2.5;"></span>
            </span>
        </a>
    </div>
    <div class="uk-margin-xsmall">
        <h3 class="title uk-margin-remove"><a href="{{href}}" class="uk-display-block">{{title}}</a></h3>
        <div class="description uk-margin-remove uk-text-small ">{{description}}</div>
    </div>
</div>